body {
	background-image: url('img/backdrop.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}

* {
	font-family: 'Raleway', sans-serif;
}

.divider {
    height: 30px;
}

.main {
    position: absolute;
	top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    height: 70%;
    width: 70%;
}

.section {
    height: 100%;
    width: 100%;
    background-color: #fff;
}

.menu {
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #000;
    background-color: #EAEAEA;
}

.menu button {
    border-radius: 5px;
    border: none;
    padding: 6px;
    background-color: #6A6F69;
    color: #fff;
    cursor: pointer;
}

#clear {
	margin-left: 10px;
}

#destroy {
	margin-left: 10px;
}

.icon {
    margin-left: 15px;
    cursor: pointer;
    height: 20px;
    width: 20px;
}

.box {
    margin-left: 10px;
}

.items, .buttons, .current {
    display: flex;
    align-items: center;
    width: auto;
}

.items {
    width: 30%;
}

.current {
	margin-left: auto;
}

.buttons {
	margin-left: auto;
	margin-right: 30px;
}

#screen {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	display: none;
	background-color: rgba(0, 0, 0, .5);
}

#module {
    height: auto;
    width: 30%;
    background-color: #fff;
    border: 1px solid #DEE4DD;
    box-shadow: 0 4px 2px -2px gray;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -20%;
    margin-left: -15%;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    z-index: 99;
}

#module button {
    cursor: pointer;
    font-weight: bold;
}

#module input {
    min-width: 250px;
}
.content-input, .content-label {
    display: inline-block;
    width: auto;
}

#create, #destroy {
    width: 150px;
}

.content-input {
    margin-right: 5%;
    float: right;
}

.content-label {
    margin-left: 5%;
    float: left;
    text-align: left;
}

button a {
	text-decoration: none;
}

.sp-replacer.sp-light {
    float: right;
}

nav {
	text-align: center;
	word-spacing: 60px;
	letter-spacing: 10px;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 50px;
	left: 0;
	color: #fff;
}

a {
	text-decoration: none;
}

nav a {
	text-decoration: none !important;
	text-transform: capitalize;
	font-size: 1.1em;
}

.sp-replacer.sp-light {
    float: left;
    margin-right: 10px;
}